/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta header - section - article -nav  */

/* header {
  color: rgb(38, 126, 97);
  background: rgb(170, 122, 122);
} */

/* selector descendente  */

/* body header div nav ol li a */

/* selector de clase . */

/* .link {} */

/* selector de id #
#portafolio */

/* 
line-height para modificar el alto de linea
font-size para modificar el tamaño de la fuente
font-weight para modificar el tipo de fuente
font-style para modificar el estilo de la fuente
letter-spacing para modificar el espacio entre letras
text-transform para transformar la fuente (mayusculas, minuculas, etc)
text-decoration para moodificar la decoración de la fuente */

body {
  font-family: "Source Sans Pro";
  background: rgba(11, 88, 175, 0.973);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FjallaOne";
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  /* text-transform: uppercase;
  text-decoration: underline; */
}

.hero {
  height: 300px;
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}
