/* reglas
selectores
declaraciones
propiedades
valores */

/* selector de etiqueta header - section - article -nav  */

/* header {
  color: rgb(38, 126, 97);
  background: rgb(170, 122, 122);
} */

/* selector descendente  */

/* body header div nav ol li a */

/* selector de clase . */

/* .link {} */

/* selector de id #
#portafolio */

/* 
line-height para modificar el alto de linea
font-size para modificar el tamaño de la fuente
font-weight para modificar el tipo de fuente
font-style para modificar el estilo de la fuente
letter-spacing para modificar el espacio entre letras
text-transform para transformar la fuente (mayusculas, minuculas, etc)
text-decoration para moodificar la decoración de la fuente */

/* 
background-color para agregar unn color de fondo
color para agregar un color al texto
text-decoration para modificar la decoración del texto
background-image para agregar una imagen de fondo
background-size para modificar el tamaño del background asignado
background-repeat para modificar la repetición del backgound asignado
background-position para modificar la posición del bakground asignado */

/* gris oscuro = #1d252c:
gris claro = #626262;
background gris = #1b2127; 
celeste =  #026fff;
*/

body {
  font-family: "Source Sans Pro";
  background: rgba(11, 88, 175, 0.973);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "FjallaOne";
  font-weight: normal;
  /* font-style: italic; */
}

h1 {
  font-size: 40px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: white;
  /* margin: top right bottom left; */
  margin: 0;
  /* margin: 100px 500px 70px 30px; */
  /* text-transform: uppercase;
  text-decoration: underline; */
}

h1 strong {
  color: #026fff;
}

h2 strong {
  color: #026fff;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 40px;
}

.hero {
  height: 300px;
  background-image: url(../images/hero.jpg);
  background-color: #1b2127;
  /* background-size: ancho alto; */
  background-size: 500px 300px;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
  align-items: center;
}

.project {
  /* border-top: tamaño estilo tipo ; */
  /* border-top: 10px solid cadetblue;
  border-bottom: 10px solid cadetblue;
  border-left: 10px solid greenyellow;
  border-right: 10px solid greenyellow; */

  /* border-color: rgb(182, 182, 134);
  border-width: 10px;
  border-style: solid;  */

  border: 1px solid gray;
  border-radius: 10px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px; */
  /* margin: 10px; */
  margin-bottom: 15px;

  padding: 20px;

  background: white;

  /* box-sizing: content-box; */
  /* 
display: inline;
display: block;
display: flex; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.portafolio {
  background: #fafafa;
  padding: 20px;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}

.project-course,
.project-date,
.project-url {
  margin: 20px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: "FjallaOne";
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

.header {
  background-color: #1b2127;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

figure {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* .flexbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-wrap: nowrap; 

  justify-content:center;

  align-items: center;
  
} */

/* .box {
  width: 200px;
  height: 200px;
  border: 1px solid red;

  flex-shrink: 0;
} */

.footer {
  background-color: #1b2127;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer img {
  vertical-align: middle;
}

.footer a {
  color: white;
}
